<section id="about" class="padding-80">

    <!--about page content-->
    <div class="lawyer-section">
      <div class="container">
        <div class="section-heading text-center">
          <h2 class="large section-title">Who We Are</h2>
        </div><!--section heading-->             
      </div><!--container-->


      
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="about-more-info wow animated fadeInUp" data-wow-delay="0.3s">
                           
              <%= link_to "New Lawyer", new_lawyer_path %>

              <% @lawyers.each do |lawyer| %>
                <h3><%= lawyer.name.html_safe %></h3>
                <%= image_tag lawyer.image_url(:thumb).to_s %>
                <br>
                <%= link_to "Edit lawyer", edit_lawyer_path(lawyer) %>
                <% if lawyer != @lawyers.last %>
                <hr />
                <% end %>
              <% end %>


              </div> 
            </div>  
          </div>
   
    
    <!--page about content end here-->            
</section>
<!--about section end here-->


