<section id="about" class="padding-80">
    <!--about page content-->
    <div class="about-section">
        <div class="container">
            <div class="section-heading text-center">
                <!-- <h4 class="small section-title"><span>Creators of custom websites and web based software</span></h4> -->
                <h2 class="large section-title">What We Do</h2>
            </div><!--section heading-->             

        </div><!--container-->

        <div class="container">
            <div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="about-more-info wow animated fadeInUp" data-wow-delay="0.3s">
                            <p>
                                Niro Law concentrates its practice in intellectual property law. The firm has extensive experience in the trial of intellectual property cases, including patent, trademark and copyright infringement, trade secret misappropriation, unfair competition and related business torts. 
                            </p>
                        
                            <p>
                                Specializing in in intellectual property law, Niro Law has extensive experience in the trial of intellectual property cases, including patent, trademark and copyright infringement, trade secret misappropriation, unfair competition and related business torts. While best known for its trial experience and courtroom success, the firm also offers a full range of intellectual property-related services, including counseling on intellectual property management and strategies, the procurement of domestic and international patents, trademarks and copyright registrations, and the licensing of technology and other intellectual properties.
                              </p>
                              <p>
                                Since its founding in 1976, Niro Law has adhered to a result-oriented approach based on experience, efficiency and effective client communication. In today’s fast-paced business environment, it is critical to quickly develop strategies that will maximize opportunity and minimize risk. Embarking on the wrong course, or losing valuable time, can spell the difference between success and failure.

                                Our depth of trial experience enables us to immediately focus on key issues and litigation strategies in any dispute. We assemble a trial team tailored to the technological and legal issues, and the client participates in every decision. We expect (indeed, demand) client involvement. By following this approach, the firm has established a proven track record of success.
   
                            </p>
                            <!-- <p>
                                We practice in a range of areas including:
                            </p> -->
                        </div>
                    </div>
                    
                </div>

            </div><!--section about 3 end-->
            <!-- <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-duration="0.3s">
                        <div class="about-box-icon">
                            <i class="fa fa-database"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Patents</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.5">
                        <div class="about-box-icon">
                            <i class="fa fa-exchange"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Trade Secrets</h4>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.6s">
                        <div class="about-box-icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Trademarks</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.8s">
                        <div class="about-box-icon">
                            <i class="fa fa-credit-card"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Copyrights</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.6s">
                        <div class="about-box-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Business Torts</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.8s">
                        <div class="about-box-icon">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>General Litigation</h4>
                        </div>
                    </div>
                </div>
            </div> -->
            
            
        </div>
 
            <!-- <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-duration="0.3s">
                        <div class="about-box-icon">
                            <i class="fa fa-lightbulb-o"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>We Bring Your Idea To Reality</h4>
                            <p>
                                Our team will work with you to bring your website, web app, or custom software to reality. Whether you need an online presence or internal custom software for your organization, we can make it happen. We work remotely, so no matter where you are, we can help.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.5">
                        <div class="about-box-icon">
                            <i class="fa fa-bullhorn"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Websites</h4>
                            <p>
                                A website typically serves as an online destination for an organization, providing information about its services and how it can be contacted. In many cases, users can also interact with the site by submitting information in various ways.
                            </p>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.6s">
                        <div class="about-box-icon">
                            <i class="fa fa-sliders"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Web Applications</h4>
                            <p>
                                More dynamic than websites, web applications (aka web apps) offer a lot more functionality. Ecommerce sites, social networks, and productivity software are all examples of web apps.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.8s">
                        <div class="about-box-icon">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Custom Software</h4>
                            <p>
                                Custom web based software can help make one's organization more efficient by automating processes and displaying data. The nature of this software varies widely across different organizations.
                            </p>
                        </div>
                    </div>
                </div>
            </div> -->
            
        </div>
    </div>

    <div class="purchase-now parallax" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="wow animated fadeInLeft" data-wow-delay="0.3s">Quality Work For Your Organization <strong>Pro-Bono</strong></h1>
                </div>
                <div class="col-sm-4">
                    <a href="http://goo.gl/forms/kq3IXlmfxe" class="btn btn-lg btn-theme-color wow animated bounceIn" data-wow-delay="0.6s">Apply</a>
                </div>
            </div>
        </div>
    </div>
    <!--page about content end here-->            
</section>
<!--about section end here-->