<section id="practice" class="padding-80">


    <div class="services-section-1">
        <div class="container">
            <div class="section-heading text-center">
                <h2 class="large section-title">Practice</h2>
            </div><!--section heading-->             

        </div><!--container-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="margin-btm-40">
                        <p>
                            Niro Law focuses on intellectual property law. The firm has extensive experience in the trial of intellectual property cases and has built a strong national reputation based on its trial experience, success in high-stakes litigation and alternative fee arrangements. The firm offers a full range of intellectual property-related services, including counseling on intellectual property management and strategies, the procurement of domestic and international patents, trademarks and copyright registrations, and the licensing of technology and other intellectual properties.
                        </p>
                    </div>
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-12 wow animated fadeInLeft" data-wow-delay="0.3s">

                    <div class="row margin-btm-20">
                        <div class="col-md-1">
                            <div class="services-icon">
                                <i class="fa fa-lightbulb-o"></i>
                            </div> 
                        </div>
                        <div class="col-md-11">
                            <div class="services-info">
                                <h3>Patent Litigation</h3>
                                <p>
                                    Patents play a vital role in the ever-changing economy since they provide incentives for research and development for new technology and innovation. Given the increasing importance of patent rights, the development of protection and enforcement strategies is critical. Patent infringement litigation implicates high levels of risk and potential rewards; it is also extraordinarily expensive. Our patent litigation experience enables an up-front, educated decision on whether litigation is appropriate.

                                    Since most patent infringement suits are tried before a jury, a client should consider attorneys who actually try cases, instead of attorneys who waste resources creating sideshows. Our lawyers have had extensive jury trial experience in patent infringement cases around the country, including numerous jury trials in the fastest time-to-trial court in the country: The “rocket docket” District Court for the Eastern District of Virginia. All appeals in patent infringement cases are heard by the Federal Circuit Court of Appeals. The firm has handled more than 20 appeals in the Federal Circuit resulting in significant victories.
                                </p>
                            </div>
                        </div>
                    </div><!--.services row end-->
                    <div class="row margin-btm-20">
                        <div class="col-md-1">
                            <div class="services-icon">
                                <i class="fa fa-rocket"></i>
                            </div> 
                        </div>
                        <div class="col-md-11">
                            <div class="services-info">
                                <h3>Trade Secret Litigation</h3>
                                <p>
                                    A trade secret may encompass a broad range of information. It is not necessary that the information be technical; instead, the inquiry in general is whether the information is valuable, not generally known, and kept in confidence by the holder. A trade secret may often be highly valuable because a trade secret is not publicly disclosed and is not subject to any time limits on protection. The firm is well versed in all aspects of trade secret law and has won significant jury verdicts around the country.
                                </p>
                            </div>
                        </div>
                    </div><!--.services row end-->
                    <!-- <div class="row margin-btm-20">
                        <div class="col-md-1">
                            <div class="services-icon">
                                <i class="fa fa-image"></i>
                            </div> 
                        </div>
                        <div class="col-md-11">
                            <div class="services-info">
                                <h3>Planning</h3>
                                <p>
                                    We will create mockups to help you envision what your product will eventually look like. If you so choose, we can also design the site from top to bottom, making a visually compelling experience for your users. 
                                </p>
                            </div>
                        </div>
                    </div> --><!--.services row end-->
                    <div class="row margin-btm-20">
                        <div class="col-md-1">
                            <div class="services-icon">
                                <i class="fa fa-keyboard-o"></i>
                            </div> 
                        </div>
                        <div class="col-md-11">
                            <div class="services-info">
                                <h3>Trademark, Trade Dress and Copyright Litigation</h3>
                                <p>
                                    Trademarks serve an important purpose by identifying and distinguishing the origin of the goods to which the trademark is attached. Our firm has successfully represented clients in court and before the United States Trademark Office. Our firm has won a significant decision in the Trademark Trial and Appeal Board which enabled a client to retain trademarks on the color blue for its product line. Another example is the firm’s representation of Black & Decker to protect its yellow and black color trademarks and trade dress used in its now-famous DeWalt® line of professional power tools. We enforced these rights by obtaining federal registrations and conducting a trial in the Eastern District of Virginia.

                                    The firm also has extensive experience in copyright matters. We have conducted seizures to confiscate counterfeit and stolen copyrighted materials involving radios, computer software and oil-well equipment specifications. The firm also assists artists and authors in protecting their artistic creations, including sculptures, literature, paintings and clothing design, through copyrights.
                                </p>
                            </div>
                        </div>
                    </div><!--.services row end-->
                </div>
                <!-- <div class="col-md-6 wow animated fadeInRight" data-wow-delay="0.6s">

                </div> -->
            </div>
        </div>
    </div><!--services section 1 end-->
    <div class="services-section-2 parallax" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Ready to get started?</h1>
                    <a href="http://goo.gl/forms/kq3IXlmfxe" class="btn btn-lg btn-theme-color wow animated bounceIn" data-wow-delay="0.6s">Apply Now</a>
                </div>
            </div>
        </div>
    </div><!--services section 1 end-->
</section>
